# Lab 1: Exploring languages through word frequencies

## Learning Objectives:
In this lab you will learn the following linguistic concepts and programming skills:
* Basic text processing and regular expressions.
* What do word frequencies tell us about a language?
* How do different languages compare?
* How to manipulate corpora and plot insightful graphs?

## About this assignment

- This is a Jupyter notebook. You can execute cell blocks by pressing control-enter.
- You will be submitting the lab1.py file on Gradescope.
- We have provided local access to the Gradescope autograder test cases. In order to run the test cases locally, simply run <code>python run_tests.py</code> or <code>python run_tests.py -j</code> (this commands gives information about the performance on each test case in the form of a readable json object).

## Pre-requisites:
For this lab, you need to make sure you have the following installed:
* python3.6 (python2.7 should also work)
* nltk (python package)
* matplotlib

To make sure your installation is successful, execute the block below.

In [115]:
import nltk
import matplotlib
import importlib
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/mukhilshankar/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [44]:
import lab1

As a packaged solution, I would recommend installing [conda](https://docs.conda.io/en/latest/miniconda.html), and creating a conda [environment](https://docs.conda.io/projects/conda/en/latest/user-guide/tasks/manage-environments.html) 'ece365_nlp' to use for the rest of this module.

## Exercise 1: Working With Text

Before getting started, let's work with some simple text processing!

In [3]:
text1 = "Ethics are built right into the ideals and objectives of the United Nations "

len(text1) # The length of text1 (String Length)

76

In [4]:
text2 = text1.split(' ') # Return a list of the words in text2, separating by ' '.
len(text2) # Word Length

14

In [5]:
text2

['Ethics',
 'are',
 'built',
 'right',
 'into',
 'the',
 'ideals',
 'and',
 'objectives',
 'of',
 'the',
 'United',
 'Nations',
 '']

<br>
List comprehension allows us to find specific words:

In [6]:
[w for w in text2 if len(w) > 3] # Words that are greater than 3 letters long in text2

['Ethics',
 'built',
 'right',
 'into',
 'ideals',
 'objectives',
 'United',
 'Nations']

In [7]:
[w for w in text2 if w.istitle()] # Capitalized words in text2

['Ethics', 'United', 'Nations']

In [8]:
[w for w in text2 if w.endswith('s')] # Words in text2 that end in 's'

['Ethics', 'ideals', 'objectives', 'Nations']

<br>
We can find unique words using 'set()'.

In [9]:
text3 = 'To be or not to be'
text4 = text3.split(' ')

len(text4)

6

In [10]:
len(set(text4))

5

In [11]:
set(text4)

{'To', 'be', 'not', 'or', 'to'}

In [12]:
len(set([w.lower() for w in text4])) # .lower converts the string to lowercase.

4

In [13]:
set([w.lower() for w in text4])

{'be', 'not', 'or', 'to'}

### Processing free-text

In [14]:
text5 = '"Ethics are built right into the ideals and objectives of the United Nations" \
#UNSG @ NY Society for Ethical Culture bit.ly/2guVelr'
text6 = text5.split(' ')

text6

['"Ethics',
 'are',
 'built',
 'right',
 'into',
 'the',
 'ideals',
 'and',
 'objectives',
 'of',
 'the',
 'United',
 'Nations"',
 '#UNSG',
 '@',
 'NY',
 'Society',
 'for',
 'Ethical',
 'Culture',
 'bit.ly/2guVelr']

<br>
Finding hastags:

In [15]:
[w for w in text6 if w.startswith('#')]

['#UNSG']

<br>
Finding callouts:

In [16]:
[w for w in text6 if w.startswith('@')]

['@']

In [17]:
text7 = '@UN @UN_Women "Ethics are built right into the ideals and objectives of the United Nations" \
#UNSG @ NY Society for Ethical Culture bit.ly/2guVelr'
text8 = text7.split(' ')
[w for w in text8 if w.startswith('@')]

['@UN', '@UN_Women', '@']

### Regular Expressions

We can use regular expressions to help us with more complex parsing. A regular expression is a special sequence of characters that helps you match or find other strings or sets of strings, using a specialized syntax held in a pattern. Regular expressions are widely used in UNIX world.

For example `'@[A-Za-z0-9_]+'` will return all words that: 
* start with `'@'` and are followed by at least one: 
* capital letter (`'A-Z'`)
* lowercase letter (`'a-z'`) 
* number (`'0-9'`)
* or underscore (`'_'`)

In [18]:
import re # import re - a module that provides support for regular expressions

[w for w in text8 if re.search('@[A-Za-z0-9_]+', w)]

['@UN', '@UN_Women']

Let's get more familiar with Regular Expression on pandas (pandas is a powerful open source data analysis Python tool.)!

In [19]:
import pandas as pd

time_sentences = ["Monday: The doctor's appointment is at 2:45pm.", 
                  "Tuesday: The dentist's appointment is at 11:30 am.",
                  "Wednesday: At 7:00pm, there is a basketball game!",
                  "Thursday: Be back home by 11:15 pm at the latest.",
                  "Friday: Take the train at 08:10 am, arrive at 09:00am."]

df = pd.DataFrame(time_sentences, columns=['text'])
df

                                                text
0     Monday: The doctor's appointment is at 2:45pm.
1  Tuesday: The dentist's appointment is at 11:30...
2  Wednesday: At 7:00pm, there is a basketball game!
3  Thursday: Be back home by 11:15 pm at the latest.
4  Friday: Take the train at 08:10 am, arrive at ...

In [20]:
# find the number of characters for each string in df['text']
df['text'].str.len()

0    46
1    50
2    49
3    49
4    54
Name: text, dtype: int64

In [21]:
# find the number of tokens for each string in df['text']
df['text'].str.split().str.len()

0     7
1     8
2     8
3    10
4    10
Name: text, dtype: int64

In [22]:
# find which entries contain the word 'appointment'
df['text'].str.contains('appointment')

0     True
1     True
2    False
3    False
4    False
Name: text, dtype: bool

In [23]:
# find how many times a digit occurs in each string
df['text'].str.count(r'\d')

0    3
1    4
2    3
3    4
4    8
Name: text, dtype: int64

In [24]:
# find all occurances of the digits
df['text'].str.findall(r'\d')

0                   [2, 4, 5]
1                [1, 1, 3, 0]
2                   [7, 0, 0]
3                [1, 1, 1, 5]
4    [0, 8, 1, 0, 0, 9, 0, 0]
Name: text, dtype: object

In [25]:
# group and find the hours and minutes
df['text'].str.findall(r'(\d?\d):(\d\d)')

0               [(2, 45)]
1              [(11, 30)]
2               [(7, 00)]
3              [(11, 15)]
4    [(08, 10), (09, 00)]
Name: text, dtype: object

In [26]:
# replace weekdays with '???'
df['text'].str.replace(r'\w+day\b', '???')

0          ???: The doctor's appointment is at 2:45pm.
1       ???: The dentist's appointment is at 11:30 am.
2          ???: At 7:00pm, there is a basketball game!
3         ???: Be back home by 11:15 pm at the latest.
4    ???: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [27]:
# replace weekdays with 3 letter abbrevations
df['text'].str.replace(r'(\w+day\b)', lambda x: x.groups()[0][:3])

0          Mon: The doctor's appointment is at 2:45pm.
1       Tue: The dentist's appointment is at 11:30 am.
2          Wed: At 7:00pm, there is a basketball game!
3         Thu: Be back home by 11:15 pm at the latest.
4    Fri: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [28]:
# create new columns from first match of extracted groups
df['text'].str.extract(r'(\d?\d):(\d\d)')

    0   1
0   2  45
1  11  30
2   7  00
3  11  15
4  08  10

In [29]:
# extract the entire time, the hours, the minutes, and the period
df['text'].str.extractall(r'((\d?\d):(\d\d) ?([ap]m))')

                0   1   2   3
  match
0 0        2:45pm   2  45  pm
1 0      11:30 am  11  30  am
2 0        7:00pm   7  00  pm
3 0      11:15 pm  11  15  pm
4 0      08:10 am  08  10  am
  1       09:00am  09  00  am

In [30]:
# extract the entire time, the hours, the minutes, and the period with group names
df['text'].str.extractall(r'(?P<time>(?P<hour>\d?\d):(?P<minute>\d\d) ?(?P<period>[ap]m))')

             time hour minute period
  match
0 0        2:45pm    2     45     pm
1 0      11:30 am   11     30     am
2 0        7:00pm    7     00     pm
3 0      11:15 pm   11     15     pm
4 0      08:10 am   08     10     am
  1       09:00am   09     00     am

You may realize there is nothing for you to answer. This section is ungraded, but you are strongly recommended to read&understand this section before moving on.

## Exercise 2: Word Frequencies

We live in a multi-lingual world. The languages we use are like English in some ways and distinct from English in many ways. In this exercise, we will explore some aspects of languages that make them different from English by the use of quantitative indices. 

Before we begin comparing languages, let us begin with English. How many words are there in English? Well, that depends on who we ask. The Second Edition of the 20-volume Oxford English Dictionary contains full entries for 171,476 words in current use (and 47,156 obsolete words). Looking elsewhere, Webster's Third New International Dictionary, Unabridged, together with its 1993 Addenda Section, includes some 470,000 entries. But, the number of words in the Oxford and Webster Dictionaries are not the same as the number of words in English. Why is that? First, it takes a while for dictionary publishers like Oxford University and Merriam-Webster to include new words in their dictionaries. While it may seem surprising new words are being coined at a rapid rate, a recent article in The Guardian reports that English speakers are adding new words at the rate of around 1,000 a year. Recent dictionary debutants include blog, grok, crowdfunding, hackathon, airball, e-marketing, sudoku, twerk and Brexit, many of which are words we find in use in our everyday lives. Slang and jargon could also be considered in this list. You have probably observed how some of these terms depend on where you live (e.g., 'prepone' in India means the opposite of postpone), whereas others are common in many places (e.g. the portmanteau, brunch = breakfast + lunch).

A natural question that arises in this setting is, are all words equally likely, or do they occur with different frequencies? As you can expect, words occur with different frequencies, but what you would would not have expected is how skewed the word frequencies can be. That is what you will see in your first exercise. 

First, you will count the frequency of words from a word list derived from a large collection of words -- a 'corpus' (meaning 'a body of text'). For this part of the exercise, you will use the corpus of Reuters from which you will count the number of times each word occurs.
                                                                                                                     For this, you will need to do some tokenization. Towards that, you will lowercase all words, remove the punctuation marks and numbers. Then you will use NLTK to get the frequency distribution of the tokenized text.
                                                                                                                     
Based on the frequency distribution of word that you will collect, you will answer the following questions.

* What are the 10 most frequent words?
* What are the 10 least frequent words?
* What proportion of words have a frequency of 1? These singleton words are termed 'hapax legomena' (a sophisticated Greek name) and the numebr of singletons in a corpus is a measure of the richness of the vocabulary of that collection, giving you the rate at which new words appear in that text. If you take a very large text in a language and call it representative of that language, then the rate of singletons is a measure of its richness.
* What are the answers to the above questions, if we consider stemming or lemmatization? 

**Total points: 50 points**

### Coding Questions

a. In the lab1.py file, complete the function "get_freqs" that takes as an input the "Reuters" corpus (type str) from nltk and returns as an output a dictionary with the key being a word, and the value being the frequency of the word in the corpus.
Make sure to lowercase all words in the corpus and to replace all punctuations and digits with a space character. This will take care of tokenization for you. To avoid confusion, the list of punctuation marks are given to you. (15 points)

In [66]:
puncts = ['.','!','?',',',';',':','[', ']', '{', '}', '(', ')', '\'', '\"']

In [103]:
importlib.reload(lab1)
raw_corpus = nltk.corpus.reuters.raw()
freqs = lab1.get_freqs(raw_corpus, puncts)

In [104]:
freqs

{'asian': 63,
 'exporters': 255,
 'fear': 51,
 'damage': 141,
 'from': 8217,
 'u': 6316,
 's': 15601,
 '-japan': 22,
 'rift': 3,
 'mounting': 22,
 'trade': 3059,
 'friction': 29,
 'between': 1076,
 'the': 69246,
 'and': 25617,
 'japan': 1836,
 'has': 4864,
 'raised': 351,
 'fears': 80,
 'among': 290,
 'many': 349,
 'of': 36749,
 'asia': 69,
 'exporting': 68,
 'nations': 438,
 'that': 7540,
 'row': 110,
 'could': 1468,
 'inflict': 1,
 'far-reaching': 2,
 'economic': 1022,
 'businessmen': 59,
 'officials': 969,
 'said': 25382,
 'they': 2595,
 'told': 1427,
 'reuter': 72,
 'correspondents': 7,
 'in': 29217,
 'capitals': 7,
 'a': 24940,
 'move': 450,
 'against': 1492,
 'might': 402,
 'boost': 222,
 'protectionist': 90,
 'sentiment': 64,
 'lead': 269,
 'to': 36278,
 'curbs': 44,
 'on': 9094,
 'american': 967,
 'imports': 943,
 'their': 1370,
 'products': 845,
 'but': 3600,
 'some': 1422,
 'while': 934,
 'conflict': 37,
 'would': 4671,
 'hurt': 76,
 'them': 402,
 'long-run': 4,
 'short-term': 170,
 'tokyo': 274,
 'loss': 5115,
 'be': 6353,
 'gain': 784,
 'it': 11100,
 'will': 5950,
 'impose': 75,
 'mln': 18598,
 'dlrs': 12330,
 'tariffs': 259,
 'japanese': 938,
 'electronics': 124,
 'goods': 404,
 'april': 1973,
 'retaliation': 127,
 'for': 13419,
 'alleged': 51,
 'failure': 114,
 'stick': 22,
 'pact': 428,
 'not': 4384,
 'sell': 767,
 'semiconductors': 79,
 'world': 1163,
 'markets': 809,
 'at': 7014,
 'below': 462,
 'cost': 431,
 'unofficial': 8,
 'estimates': 262,
 'put': 317,
 'impact': 248,
 'billion': 5809,
 'spokesmen': 18,
 'major': 1000,
 'firms': 341,
 'virtually': 47,
 'halt': 53,
 'exports': 1207,
 'hit': 215,
 'by': 7082,
 'new': 2704,
 'taxes': 131,
 'we': 1595,
 'wouldn': 17,
 't': 477,
 'able': 160,
 'do': 463,
 'business': 931,
 'spokesman': 969,
 'leading': 245,
 'firm': 596,
 'matsushita': 3,
 'electric': 141,
 'industrial': 606,
 'co': 1757,
 'ltd': 1001,
 '&lt': 8573,
 'mc': 2,
 't>': 99,
 'if': 1554,
 'remain': 316,
 'place': 189,
 'any': 925,
 'length': 14,
 'time': 778,
 'beyond': 51,
 'few': 218,
 'months': 1020,
 'mean': 90,
 'complete': 132,
 'erosion': 13,
 'subject': 373,
 'tom': 21,
 'murtha': 6,
 'stock': 2625,
 'analyst': 350,
 'office': 235,
 'broker': 57,
 'james': 198,
 'capel': 30,
 'co>': 82,
 'taiwan': 345,
 'are': 3215,
 'also': 2532,
 'worried': 40,
 'aware': 40,
 'seriousness': 3,
 'threat': 73,
 'because': 1076,
 'serves': 25,
 'as': 4523,
 'warning': 37,
 'us': 203,
 'senior': 277,
 'taiwanese': 17,
 'official': 1174,
 'who': 608,
 'asked': 412,
 'named': 107,
 'had': 2975,
 'surplus': 713,
 'last': 3227,
 'year': 6715,
 'pct': 9771,
 'with': 6179,
 'helped': 115,
 'swell': 2,
 'foreign': 1424,
 'exchange': 1599,
 'reserves': 794,
 'largest': 377,
 'must': 339,
 'quickly': 98,
 'open': 398,
 'our': 503,
 'remove': 43,
 'barriers': 65,
 'cut': 882,
 'import': 404,
 'allow': 216,
 'want': 206,
 'defuse': 9,
 'problems': 263,
 'possible': 409,
 'paul': 100,
 'sheen': 1,
 'chairman': 736,
 'textile': 65,
 'safe': 12,
 'group>': 14,
 'south': 632,
 'korea': 224,
 'promotion': 22,
 'association': 414,
 'dispute': 166,
 'pressure': 281,
 'whose': 85,
 'chief': 309,
 'similar': 165,
 'those': 398,
 'up': 2190,
 'malaysia': 140,
 'officers': 43,
 'tough': 62,
 'hard-hit': 4,
 'producers': 565,
 'third': 429,
 'countries': 944,
 'expand': 148,
 'sales': 2212,
 'hong': 160,
 'kong': 161,
 'where': 263,
 'newspapers': 34,
 'have': 3107,
 'been': 2070,
 'selling': 270,
 'below-cost': 2,
 'manufacturers': 97,
 'share': 3085,
 'view': 149,
 'other': 1652,
 'such': 684,
 'commercial': 321,
 'advantage': 53,
 'outweighed': 6,
 'further': 887,
 'block': 123,
 'is': 7666,
 'very': 428,
 'lawrence': 23,
 'mills': 80,
 'director-general': 8,
 'federation': 74,
 'industry': 1038,
 'whole': 104,
 'purpose': 37,
 'prevent': 113,
 'one': 2534,
 'day': 469,
 'extended': 149,
 'sources': 877,
 'much': 489,
 'more': 1881,
 'serious': 115,
 'disadvantage': 8,
 'action': 461,
 'restraining': 16,
 'he': 5208,
 'was': 5816,
 'biggest': 94,
 'export': 1041,
 'market': 2789,
 'accounting': 142,
 'over': 1409,
 'domestically': 20,
 'produced': 186,
 'australian': 246,
 'government': 1706,
 'awaiting': 28,
 'outcome': 45,
 'talks': 721,
 'interest': 1361,
 'concern': 200,
 'minister': 736,
 'john': 134,
 'button': 2,
 'canberra': 2,
 'friday': 315,
 'this': 3516,
 'kind': 53,
 'deterioration': 34,
 'relations': 90,
 'two': 2275,
 'which': 3664,
 'trading': 770,
 'partners': 295,
 'ours': 5,
 'matter': 72,
 'australia': 270,
 'concerns': 56,
 'centred': 9,
 'coal': 107,
 'beef': 208,
 'significant': 187,
 'country': 515,
 'meanwhile': 55,
 '-japanese': 19,
 'diplomatic': 34,
 'manoeuvres': 3,
 'solve': 39,
 'stand-off': 1,
 'continue': 567,
 'ruling': 126,
 'liberal': 34,
 'democratic': 44,
 'party': 115,
 'yesterday': 692,
 'outlined': 34,
 'package': 155,
 'measures': 287,
 'economy': 620,
 'proposed': 552,
 'include': 466,
 'large': 342,
 'supplementary': 8,
 'budget': 492,
 'record': 1293,
 'public': 464,
 'works': 39,
 'spending': 255,
 'first': 1878,
 'half': 545,
 'financial': 916,
 'call': 187,
 'stepped-up': 5,
 'an': 4543,
 'emergency': 66,
 'measure': 140,
 'stimulate': 85,
 'despite': 302,
 'prime': 387,
 'yasuhiro': 41,
 'nakasone': 122,
 'avowed': 1,
 'fiscal': 535,
 'reform': 116,
 'program': 542,
 'deputy': 91,
 'representative': 122,
 'michael': 79,
 'smith': 82,
 'makoto': 6,
 'kuroda': 12,
 'international': 1412,
 'miti': 88,
 'due': 871,
 'meet': 299,
 'washington': 357,
 'week': 1581,
 'effort': 129,
 'end': 963,
 'china': 495,
 'daily': 264,
 'says': 895,
 'vermin': 2,
 'eat': 6,
 '-': 2615,
 'grain': 678,
 'stocks': 520,
 'survey': 103,
 'provinces': 29,
 'seven': 582,
 'cities': 19,
 'showed': 270,
 'consume': 4,
 'each': 545,
 'tonnes': 2508,
 'or': 3218,
 'fruit': 25,
 'output': 696,
 'left': 131,
 'rot': 11,
 'its': 7402,
 'vegetables': 13,
 'paper': 176,
 'blamed': 30,
 'waste': 92,
 'inadequate': 38,
 'storage': 97,
 'bad': 70,
 'preservation': 5,
 'methods': 36,
 'launched': 84,
 'national': 917,
 'programme': 47,
 'reduce': 387,
 'calling': 45,
 'improved': 193,
 'technology': 197,
 'greater': 155,
 'production': 1455,
 'additives': 3,
 'gave': 208,
 'no': 1490,
 'details': 267,
 'revise': 20,
 'long-term': 179,
 'energy': 545,
 'demand': 649,
 'downwards': 19,
 'ministry': 552,
 'supply/demand': 32,
 'outlook': 158,
 'august': 243,
 'forecast': 531,
 'downtrend': 5,
 'expected': 1373,
 'lower': 846,
 'projection': 19,
 'primary': 156,
 'supplies': 194,
 'kilolitres': 1,
 'kl': 2,
 'decision': 350,
 'follows': 129,
 'emergence': 3,
 'structural': 32,
 'changes': 273,
 'following': 397,
 'rise': 1322,
 'value': 536,
 'yen': 869,
 'decline': 430,
 'domestic': 696,
 'power': 203,
 'planning': 118,
 'work': 289,
 'out': 754,
 'revised': 374,
 'through': 721,
 'deliberations': 5,
 'committee': 452,
 'meetings': 111,
 'agency': 341,
 'natural': 291,
 'resources': 359,
 'review': 204,
 'breakdown': 42,
 'supply': 577,
 'including': 536,
 'oil': 3187,
 'nuclear': 50,
 'gas': 804,
 'provided': 156,
 'bulk': 88,
 'ended': 742,
 'march': 2005,
 'supplying': 16,
 'estimated': 569,
 'kilowatt/hour': 1,
 'basis': 372,
 'followed': 111,
 'liquefied': 12,
 'noted': 368,
 'thai': 75,
 'deficit': 869,
 'widens': 10,
 'quarter': 1788,
 'thailand': 110,
 'widened': 35,
 'baht': 20,
 'ago': 510,
 'economics': 48,
 'department': 983,
 'janunary/march': 1,
 'rose': 1366,
 'climate': 32,
 'resulted': 92,
 'increase': 1170,
 'raw': 96,
 'materials': 127,
 'semi-finished': 8,
 'bill': 467,
 'however': 632,
 'fell': 894,
 'prices': 2193,
 'expanded': 56,
 'growth': 1158,
 'smaller': 87,
 'than': 1771,
 'earnings': 1078,
 'key': 236,
 'commodities': 126,
 'rice': 193,
 'declined': 380,
 'maize': 220,
 'sugar': 783,
 'tin': 150,
 'canned': 10,
 'pineapples': 1,
 'registering': 5,
 'high': 588,
 'were': 3092,
 'jewellery': 5,
 'clothing': 16,
 'rubber': 223,
 'indonesia': 228,
 'sees': 473,
 'cpo': 15,
 'price': 1793,
 'rising': 294,
 'sharply': 241,
 'expects': 628,
 'crude': 746,
 'palm': 161,
 'tonne': 302,
 'fob': 67,
 'sometime': 17,
 'better': 242,
 'european': 650,
 'fall': 748,
 'malaysian': 81,
 'hasrul': 1,
 'harahap': 3,
 'junior': 19,
 'tree': 8,
 'crops': 167,
 'indonesian': 78,
 'reporters': 259,
 'sumatran': 2,
 'now': 953,
 'around': 859,
 'cif': 36,
 'delivery': 210,
 'rotterdam': 48,
 'traders': 588,
 'maintain': 156,
 'making': 344,
 'recent': 591,
 'purchases': 255,
 'so': 498,
 'possibly': 72,
 'second': 502,
 'producer': 281,
 'after': 1958,
 'forced': 83,
 'ensure': 56,
 'during': 674,
 'moslem': 3,
 'fasting': 3,
 'month': 1116,
 'ramadan': 8,
 'cover': 138,
 'temporary': 139,
 'shortage': 154,
 'lose': 41,
 'calendar': 120,
 'according': 360,
 'central': 881,
 'bank': 3578,
 'figures': 696,
 'ship': 119,
 'ban': 61,
 'ends': 119,
 'nsw': 14,
 'ports': 84,
 'tug': 9,
 'crews': 14,
 'wales': 16,
 'victoria': 14,
 'western': 338,
 'lifted': 49,
 'foreign-flag': 4,
 'ships': 185,
 'carrying': 42,
 'containers': 13,
 'still': 632,
 'being': 554,
 'disrupted': 16,
 'separate': 77,
 'shipping': 222,
 'imposed': 82,
 'pay': 910,
 'claim': 29,
 'prevented': 21,
 'movement': 68,
 'port': 217,
 'nearly': 166,
 'vessels': 99,
 'went': 96,
 'before': 766,
 'hearing': 64,
 'arbitration': 19,
 'commission': 735,
 'today': 1445,
 'disruption': 16,
 'began': 217,
 'cargo': 114,
 'handling': 38,
 'sydney': 22,
 'newcastle': 6,
 'kembla': 3,
 'part': 532,
 'called': 290,
 'trades': 36,
 'labour': 93,
 'council': 363,
 'protest': 54,
 'state': 585,
 'workers': 240,
 'compensation': 39,
 'laws': 97,
 'various': 110,
 'unions': 58,
 'appear': 47,
 'taking': 192,
 'turn': 66,
 'short': 256,
 'start': 308,
 'shift': 59,
 'then': 243,
 'walk': 4,
 'off': 488,
 'container': 48,
 'movements': 64,
 'most': 607,
 'affected': 166,
 'stopped': 46,
 'altogether': 7,
 'say': 466,
 'how': 265,
 'long': 390,
 'go': 236,
 'what': 430,
 'effect': 300,
 'commodity': 267,
 'may': 2056,
 'likely': 588,
 'least': 312,
 'paian': 1,
 'nainggolan': 3,
 'reuters': 530,
 'telephone': 148,
 'interview': 166,
 'sawn': 1,
 'timber': 21,
 'pepper': 2,
 'tobacco': 43,
 'considered': 132,
 'either': 117,
 'refined': 77,
 'introduced': 81,
 'question': 129,
 'rachmat': 3,
 'saleh': 6,
 'when': 921,
 'ahead': 163,
 'made': 952,
 'fledgling': 4,
 'currently': 330,
 'coffee': 665,
 'physicals': 7,
 'outcry': 2,
 'system': 644,
 'four': 894,
 'days': 497,
 'several': 386,
 'factors': 168,
 'make': 590,
 'cautiously': 13,
 'slowly': 24,
 'safely': 11,
 'mistake': 10,
 'undermine': 14,
 'confidence': 75,
 'physical': 35,
 'added': 1108,
 'january': 1667,
 'contracts': 231,
 'traded': 137,
 'five': 1195,
 'forward': 101,
 'robusta': 15,
 'grades': 76,
 'prompt': 33,
 'board': 1151,
 'considering': 158,
 'introduction': 47,
 'futures': 380,
 'later': 330,
 'feasibility': 32,
 'study': 225,
 'needed': 217,
 'decisions': 61,
 'until': 423,
 'elections': 27,
 'monday': 240,
 'should': 853,
 'marketing': 318,
 'hoped': 70,
 'development': 495,
 'help': 478,
 'trying': 109,
 'overseas': 152,
 'building': 131,
 'contacts': 20,
 'end-users': 11,
 'teams': 8,
 'already': 453,
 'encourage': 87,
 'direct': 112,
 'use': 386,
 'delegation': 46,
 'visit': 103,
 'europe': 230,
 'mexico': 104,
 'latin': 62,
 'states': 848,
 'participation': 72,
 'infant': 2,
 'good': 360,
 'although': 324,
 'disappointing': 16,
 'transactions': 152,
 'december': 915,
 'totalled': 165,
 'worth': 275,
 'plus': 176,
 'rupiah': 15,
 'delivered': 48,
 'locally': 12,
 'latest': 305,
 'report': 962,
 'amounted': 45,
 'only': 837,
 'lots': 21,
 'valued': 113,
 'total': 1318,
 'membership': 33,
 'nine': 1263,
 'brokers': 93,
 'sri': 54,
 'lanka': 48,
 'gets': 83,
 'usda': 511,
 'approval': 382,
 'wheat': 1016,
 'food': 285,
 'agriculture': 662,
 'approved': 380,
 'continental': 139,
 'sale': 1061,
 'soft': 88,
 'c': 247,
 'f': 186,
 'pacific': 348,
 'northwest': 49,
 'colombo': 11,
 'shipment': 187,
 'mining': 230,
 'gold': 650,
 'mine': 274,
 'corp': 3152,
 'holdings': 336,
 'wmng': 2,
 's>': 112,
 'wmc': 6,
 'establish': 58,
 'joint': 286,
 'venture': 228,
 'northern': 160,
 'territory': 15,
 'about': 2812,
 'known': 87,
 'goodall': 1,
 'project': 150,
 'owned': 385,
 'local': 231,
 'w': 88,
 'r': 67,
 'grace': 27,
 'gra>': 4,
 'unit': 1037,
 'located': 61,
 'kms': 9,
 'east': 229,
 'adelaide': 4,
 'river': 108,
 'mt': 40,
 'bundey': 1,
 'statement': 793,
 'open-pit': 3,
 'conventional': 14,
 'leach': 5,
 'treatment': 41,
 'plant': 358,
 'produce': 161,
 'ounces': 172,
 'mid-': 49,
 'annual': 624,
 'ore': 155,
 'capacity': 242,
 'sumitomo': 41,
 'aims': 34,
 'quick': 32,
 'recovery': 134,
 'merger': 790,
 'sumi': 1,
 'certain': 323,
 'status': 65,
 'profitable': 84,
 'result': 445,
 'heiwa': 4,
 'sogo': 4,
 'analysts': 941,
 'osaka-based': 1,
 'desposits': 1,
 'trillion': 27,
 'merged': 54,
 'small': 220,
 'struggling': 7,
 'unrecoverable': 1,
 'loans': 474,
 'october': 330,
 'link-up': 2,
 'president': 839,
 'koh': 1,
 'komatsu': 11,
 'confident': 82,
 'his': 672,
 'can': 607,
 'regain': 13,
 'position': 285,
 'll': 39,
 'back': 318,
 'within': 348,
 'three': 1366,
 'years': 853,
 'initially': 52,
 'profitability': 57,
 'efficiency': 22,
 'vastly': 3,
 'branch': 58,
 'network': 103,
 'metropolitan': 37,
 'area': 317,
 'relatively': 97,
 'weak': 104,
 'divided': 36,
 'whether': 327,
 'gamble': 4,
 'paid': 304,
 'too': 254,
 'debts': 53,
 'others': 116,
 'argue': 23,
 'effective': 406,
 'creating': 21,
 'comparable': 46,
 'scratch': 1,
 'agreed': 907,
 'aggressive': 41,
 'entered': 123,
 'lucrative': 7,
 'securities': 837,
 'geared': 8,
 'competition': 143,
 'questioned': 25,
 'wisdom': 5,
 'moves': 141,
 've': 75,
 'bold': 10,
 'everything': 19,
 'largely': 127,
 'hands': 69,
 'kleinwort': 20,
 'benson': 13,
 'simon': 33,
 'smithson': 8,
 'limits': 85,
 'placed': 76,
 'enter': 65,
 'investment': 951,
 'goldman': 35,
 'sachs': 48,
 'limited': 202,
 'partnership': 187,
 'federal': 836,
 'reserve': 496,
 'forbidden': 1,
 'personnel': 35,
 'tie-up': 3,
 'widely': 49,
 'looked': 27,
 'lame': 1,
 'duck': 1,
 'fed': 685,
 'stricter': 7,
 'regulations': 58,
 'change': 428,
 'near': 231,
 'future': 406,
 'things': 61,
 'wait': 45,
 'st': 687,
 'century': 33,
 'willing': 86,
 'patient': 8,
 'routes': 20,
 'into': 1020,
 'home': 232,
 'article': 29,
 'act': 173,
 'version': 19,
 'glass-steagall': 1,
 'separates': 2,
 'banking': 368,
 'walls': 4,
 'crumbling': 2,
 'hopes': 93,
 'deregulation': 38,
 'create': 66,
 'opportunities': 59,
 'need': 342,
 'find': 135,
 'chances': 40,
 'cases': 54,
 'these': 457,
 'related': 154,
 'trust': 331,
 'occur': 44,
 'focus': 62,
 'bond': 253,
 'dealing': 44,
 'strengthening': 31,
 'meiko': 1,
 'holds': 175,
 'optimistic': 80,
 'entering': 25,
 'here': 364,
 'swiss': 163,
 'universal': 37,
 'subsidiary': 629,
 'banca': 8,
 'del': 39,
 'gottardo': 2,
 'finance': 560,
 'grant': 38,
 'licences': 80,
 'subsidiaries': 108,
 'banks': 1008,
 'soon': 219,
 'parent': 155,
 'less': 412,
 'reluctant': 31,
 'push': 80,
 'hard': 141,
 'don': 191,
 'waves': 5,
 'expect': 283,
 'allowed': 125,
 'like': 194,
 'city': 221,
 'pushing': 34,
 'lending': 208,
 'individuals': 30,
 'medium': 57,
 'businesses': 195,
 'replace': 50,
 'disappearing': 4,
 'big': 104,
 'devote': 1,
 'lot': 91,
 'digesting': 1,
 'initiatives': 15,
 'ailing': 14,
 'strategies': 10,
 'absorbing': 5,
 'juggling': 1,
 'next': 775,
 'decade': 28,
 'see': 339,
 'strategy': 104,
 'right': 221,
 'wrong': 14,
 'subroto': 37,
 'supports': 42,
 'extension': 67,
 'mines': 174,
 'confirmed': 97,
 'support': 401,
 'sixth': 29,
 'agreement': 1550,
 'ita': 9,
 'necessary': 162,
 'clarify': 9,
 'lapse': 5,
 'ready': 75,
 'seventh': 11,
 'accord': 410,
 'believe': 188,
 'unnecessary': 11,
 'expire': 73,
 'june': 688,
 'unless': 150,
 'two-thirds': 34,
 'majority': 138,
 'members': 331,
 'vote': 128,
 'bundesbank': 355,
 'allocates': 6,
 'marks': 571,
 'tender': 749,
 'accepted': 141,
 ...}

b. Next, complete the function called "get_top_10" that takes in the "freqs" dictionary, and returns the top 10 most frequent words as a list. (5 points)

In [105]:
importlib.reload(lab1)
print(lab1.get_top_10(freqs))

['the', 'of', 'to', 'in', 'and', 'said', 'a', 'mln', 's', 'vs']

In [106]:
### BEGIN HIDDEN TESTS
assert lab1.get_top_10(freqs) == ['the', 'of', 'to', 'in', 'and', 'said', 'a', 'mln', 's', 'vs']
### END HIDDEN TESTS

c. Next, complete the function called "get_bottom_10" that takes in the "freqs" dictionary, and returns the top 10 least frequent words as a list. (5 points)

In [107]:
importlib.reload(lab1)
print(lab1.get_bottom_10(freqs))

['krn>', 'additivies', 'genecor', 'multimillion', 'communciate', 'franchising', 'rejuvenation', 'nineth', 'politically-inhibited', 'messerschmitt-boelkow-blohm']

In [108]:
### BEGIN HIDDEN TESTS
assert lab1.get_bottom_10(freqs) == ['inflict', 'sheen', 'stand-off', 'avowed', 'kilolitres', 'kilowatt/hour', 'janunary/march', 'pineapples', 'hasrul', 'paian']
### END HIDDEN TESTS

AssertionError:

d. Complete the function called "get_percentage_singletons" which takes in the "freqs" dictionary and returns a float value of the percentage of words that appear once in the corpus. (5 points)

In [111]:
importlib.reload(lab1)
print(lab1.get_percentage_singletons(freqs))

40.480636029633196

In [112]:
### BEGIN HIDDEN TESTS
assert (lab1.get_percentage_singletons(freqs)>40.4)
assert (lab1.get_percentage_singletons(freqs)<40.6)
### END HIDDEN TESTS

e. The next two blocks show examples of how stemming and lemmatization are done.

In [113]:
from nltk.stem import PorterStemmer
porter = PorterStemmer()
print(porter.stem("cats"))
print(porter.stem("trouble"))
print(porter.stem("troubling"))
print(porter.stem("troubled"))

cat
troubl
troubl
troubl

In [116]:
from nltk.stem import WordNetLemmatizer
wordnet_lemmatizer = WordNetLemmatizer()
sentence = "He was running and eating at same time. He has bad habit of swimming after playing long hours in the Sun."
for word in sentence.split():
    print ("{0:20}{1:20}".format(word,wordnet_lemmatizer.lemmatize(word, pos="v")))

He                  He
was                 be
running             run
and                 and
eating              eat
at                  at
same                same
time.               time.
He                  He
has                 have
bad                 bad
habit               habit
of                  of
swimming            swim
after               after
playing             play
long                long
hours               hours
in                  in
the                 the
Sun.                Sun.

f. Repeat steps b,c,d by doing stemming. You should modify the get_freqs_stemming function. (5 points)

In [118]:
importlib.reload(lab1)
freqs_stemming = lab1.get_freqs_stemming(raw_corpus, puncts)
print(lab1.get_top_10(freqs_stemming))
print(lab1.get_bottom_10(freqs_stemming))
print(lab1.get_percentage_singletons(freqs_stemming))

['the', 'of', 'to', 'in', 'and', 'said', 'a', 'mln', 'it', 's']
['krn>', 'additivi', 'genecor', 'rejuven', 'nineth', 'politically-inhibit', 'messerschmitt-boelkow-blohm', 'passau', 'zahnradfabrik', 'steinkuehl']
42.06299945690123

In [120]:
### BEGIN HIDDEN TESTS
assert lab1.get_top_10(freqs_stemming) == ['the', 'of', 'to', 'in', 'and', 'said', 'a', 'mln', 'it', 's']
#assert lab1.get_bottom_10(freqs_stemming) == ['inflict', 'sheen', 'stand-off', 'avow', 'kilolitr', 'kilowatt/hour', 'janunary/march', 'hasrul', 'paian', 'sawn']
assert (lab1.get_percentage_singletons(freqs_stemming)>41.9)
assert (lab1.get_percentage_singletons(freqs_stemming)<42.2)
### END HIDDEN TESTS

g. Repeat steps b,c,d by doing lemmatization. You should modify the get_freqs_lemmatized function.  (5 points)

In [122]:
importlib.reload(lab1)
freqs_lemmatized = lab1.get_freqs_lemmatized(raw_corpus, puncts)
print(lab1.get_top_10(freqs_lemmatized))
print(lab1.get_bottom_10(freqs_lemmatized))
print(lab1.get_percentage_singletons(freqs_lemmatized))

['the', 'of', 'to', 'in', 'be', 'say', 'and', 'a', 'mln', 's']
['krn>', 'additivies', 'genecor', 'multimillion', 'communciate', 'rejuvenation', 'nineth', 'politically-inhibited', 'messerschmitt-boelkow-blohm', 'passau']
42.03981813171673

In [123]:
### BEGIN HIDDEN TESTS
assert lab1.get_top_10(freqs_lemmatized) == ['the', 'of', 'to', 'in', 'be', 'say', 'and', 'a', 'mln', 's']
#assert lab1.get_bottom_10(freqs_lemmatized) == ['inflict', 'sheen', 'stand-off', 'avow', 'kilolitres', 'kilowatt/hour', 'janunary/march', 'pineapples', 'hasrul', 'paian']
assert (lab1.get_percentage_singletons(freqs_lemmatized)>41.9)
assert (lab1.get_percentage_singletons(freqs_lemmatized)<42.2)
### END HIDDEN TESTS

h. What is the vocabulary size of this corpus (i.e., raw_corpus)? How about the vocabulary size after doing stemming and lemmatization respectively? Note that we lowercase all words in the corpus and replace all punctuations and digits with empty spaces. Add your code to the size_of_raw_corpus, size_of_stemmed_raw_corpus and size_of_lemmatized_raw_corpus functions (5 points)

In [128]:
importlib.reload(lab1)
print(lab1.size_of_raw_corpus(freqs))  # Vocalbulary size of raw_corpus. 
print(lab1.size_of_stemmed_raw_corpus(freqs_stemming))  # Vocalbulary size of raw_corpus after stemming. 
print(lab1.size_of_lemmatized_raw_corpus(freqs_lemmatized))  # Vocalbulary size of raw_corpus after lemmatization.

33206
25778
29032

In [135]:
### BEGIN HIDDEN TESTS
assert lab1.size_of_raw_corpus(freqs) == 33206
assert lab1.size_of_stemmed_raw_corpus(freqs_stemming) == 25778
assert lab1.size_of_lemmatized_raw_corpus(freqs_lemmatized) == 29032
### END HIDDEN TESTS

i. Different documents, even of equal length are usually composed of different vocabularies. We will compare two documents of equal length, and see the percentage of unseen vocabulary between them. 

More specifically, we have document "a" to be the first 100 words of raw_corpus and document "b" to be the last 100 words of raw_corpus. How many percent of words in document "a" does NOT appear in document "b"? What if we change the document size to be 1000 (first 1000 words of raw_corpus v.s. last 1000 words of raw_corpus), 10000, 100000, 500000? 
What do you observe with the document size increasing? You may find set(a)-set(b) is a useful function. Modify the percentage_of_unseen_vocab function (5 points)

In [140]:
importlib.reload(lab1)
length = [100,1000,10000,100000,500000]
for length_i in length:
    a = raw_corpus.split()[:length_i]
    b = raw_corpus.split()[-length_i:]
    print(lab1.percentage_of_unseen_vocab(a, b, length_i))
    

### Write down your observation here: (Ungraded)

0.79
0.464
0.2182
0.10077
0.052344

In [141]:
### BEGIN HIDDEN TESTS
assert lab1.percentage_of_unseen_vocab(raw_corpus.split()[:100], raw_corpus.split()[-100:], 100) == 0.79
assert lab1.percentage_of_unseen_vocab(raw_corpus.split()[:1000], raw_corpus.split()[-1000:], 1000) == 0.464
assert lab1.percentage_of_unseen_vocab(raw_corpus.split()[:10000], raw_corpus.split()[-10000:], 10000) == 0.2182
assert lab1.percentage_of_unseen_vocab(raw_corpus.split()[:100000], raw_corpus.split()[-100000:], 100000) == 0.10077
assert lab1.percentage_of_unseen_vocab(raw_corpus.split()[:500000], raw_corpus.split()[-500000:], 500000) == 0.052344

### END HIDDEN TESTS

## Exercise 3: Pareto principle

The popular Pareto principle (also known as the 80/20 rule), states that for many events, roughly 80% of the effects come from 20% of the causes. This includes observations that found that the distribution of global income is very uneven, with the richest 20% of the world's population controlling 82.7% of the world's income. This seems to be the case with words as well. 

In this exercise, we observe something similar to the Pareto principle in words. By calculating what fraction of the most frequent words accounts for 80% of the total words in the corpus, you will see that a very small number of frequent words account for a large number of words. 

**Total points: 15 points**

a. Complete the function called "frac_80_perc" which takes in "freqs" as an input, and returns a float representing the fraction of words that account for 80% of the tokens in the corpus (the expected answer is around 3% for Reuters corpus -- a News corpus). Note: you should be considering the words in decreasing order of frequency until reaching 80% of word (frequency) count.  (15 points)

In [142]:
importlib.reload(lab1)
print(lab1.frac_80_perc(freqs))

0.03333734867192676

In [143]:
### BEGIN HIDDEN TESTS
assert lab1.frac_80_perc(freqs) > 0.033
assert lab1.frac_80_perc(freqs) < 0.034
### END HIDDEN TESTS

This relation between the frequency and rank for words is called Zipf's law. It states that given a large sample of words used, the frequency of any word is inversely proportional to its rank in the frequency table. So word number n has a frequency proportional to 1/n. In order to see this, sort the words in a decreasing order of their frequencies and do a rank-frequency plot, with the words (indicated by their ranks) indicated along the x-axis and their frequencies in the y-axis.

b. Accordingly, we will plot the frequency of words when ranked in decreasing order. Complete the function "plot_zipf" that takes in "freqs" as an input, and generates a plot using matplotlib. In this plot, the x-axis represents the rank of words in decreasing order of frequency, and the y-axis represents the frequency of the corresponding word. (Ungraded)

In [144]:
import matplotlib.pyplot as plt

In [145]:
importlib.reload(lab1)
lab1.plot_zipf(freqs)

## Exercise 4: Type-to-Token Ratio (TTR)

Another way of measuring the richenss of vocabulary is by looking at the type-token distribution of words in a language. Word types are unique words in a corpus, whereas the tokens are the words in a corpus with repetition. And so, a sentence such as "I am taking this class because I love taking on challenges" has 11 tokens, but 9 types since the words "I" and "taking" are repeated twice. Accordingly, Type-to-Token Ratio (TTR) is the ratio of types to tokens, and the higher it is, the less words are repeated, and the richer is the language.

**Total points: 15 points**

a. In this exercise we will be exploring, for every language, the amount of "types" explored as we explore larger portions of the corpus, or tokens. We will be considering the Universal Declaration of Human Rights in 4 languages. Particularly, we will be plotting the amount of types explored per language as we explore 100 more tokens. For this exercise, complete the following function "get_TTRs" which takes in as an input a predefined set of languages, and returns as an output the dictionary TTR, which has a language as the key, and the value as a list showing the count of types as we explore 100 tokens, 200 tokens, 300 tokens, up until 1300 tokens of the respective corpus. Accordingly, each list in the dictionary should be made of 13 data points. Do not forget to lowercase, but you do not need to perform tokenization as the corpora now are actually a list of words instead of one string.  (15 points)

In [151]:
from nltk.corpus import udhr
nltk.download('udhr')
languages = ['Italian-Latin1', 'English-Latin1', 'German_Deutsch-Latin1', 'Finnish_Suomi-Latin1']

[nltk_data] Downloading package udhr to
[nltk_data]     /Users/mukhilshankar/nltk_data...
[nltk_data]   Unzipping corpora/udhr.zip.

In [159]:
importlib.reload(lab1)
TTRs = lab1.get_TTRs(languages)
print(TTRs)

{'Italian-Latin1': [64, 110, 143, 179, 221, 260, 286, 326, 355, 386, 412, 426, 451], 'English-Latin1': [57, 99, 133, 167, 207, 231, 262, 292, 318, 339, 358, 381, 403], 'German_Deutsch-Latin1': [63, 113, 155, 204, 254, 284, 324, 358, 388, 418, 446, 475, 504], 'Finnish_Suomi-Latin1': [74, 137, 192, 252, 303, 356, 406, 459, 491, 537, 586, 631, 675]}

In [160]:
### BEGIN HIDDEN TESTS
assert TTRs['Italian-Latin1'] == [64, 110, 143, 179, 221, 260, 286, 326, 355, 386, 412, 426, 451]
assert TTRs['English-Latin1'] == [57, 99, 133, 167, 207, 231, 262, 292, 318, 339, 358, 381, 403]
assert TTRs['German_Deutsch-Latin1'] == [63, 113, 155, 204, 254, 284, 324, 358, 388, 418, 446, 475, 504]
assert TTRs['Finnish_Suomi-Latin1'] == [74, 137, 192, 252, 303, 356, 406, 459, 491, 537, 586, 631, 675]
### END HIDDEN TESTS

b. Next, plot a line graph (one line for every language, four lines in total) that shows the count of types discovered on the y-axis and the amount of tokens in the corpus discovered on the x-axis, in increments of 100 tokens, up to 1300. (Ungraded)

In [ ]:
import matplotlib.pyplot as plt
importlib.reload(lab1)
lab1.plot_TTRs(TTRs)

c. Which language has the highest TTR? What could be driving the TTR? Share your thoughts in the textbox below: (Ungraded)

**Share your thoughts here:**